<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.app.maidi">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:theme="@style/AppTheme"
            android:name=".MainApplication"
            tools:replace="android:allowBackup">
        <activity android:name=".domains.main.MainActivity"></activity>
        <activity android:name=".domains.child_registration.ChildRegistrationActivity"></activity>
        <activity android:name=".domains.child_registration.ChildRegistrationBeneficiaryActivity"></activity>
        <activity android:name=".domains.my_registration.list_my_registration.ListMyRegistrationActivity"></activity>
        <activity android:name=".domains.my_registration.immunisation_detail.ImmunisationDetailActivity"></activity>
        <activity android:name=".domains.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name="org.hisp.dhis.android.sdk.services.PeriodicSynchronizer"></receiver>
        <receiver android:name="org.hisp.dhis.android.sdk.services.PeriodicSynchronizerAutoStarter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
                android:name="org.hisp.dhis.android.sdk.services.StartPeriodicSynchronizerService"
                android:enabled="true" />
        <service
                android:name="org.hisp.dhis.android.trackercapture.export.TrackerExportService"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="org.hisp.dhis.android.trackercapture.export.TrackerExportService.EXPORT" />
            </intent-filter>
        </service>

    </application>

</manifest>